@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
body{
    padding: 0;
    margin:0;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
#carousel{
    width: 300px;
    height: 300px;
    overflow: hidden;
}

#imgContainer{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}
img{
    width: 300px;
    height: 300px;
}
